body {
    margin: 0;
    padding: 0;
    background-color: #586c92;
    overflow: hidden;
}

.canvas {
    height: 266px;
    width: 400px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(.6);
}

.santa {
    position: relative;
    transform: rotate(5deg);
    animation: nod 4s infinite;
    height: 266px;
}

@keyframes nod {
    50% {
        transform: rotate(-5deg);
    }
}

.beard {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    border-radius: 50% 50% 0 50%;
    background-color: white;
    transform: rotate(45deg);
}

.face {
    background-color: #fcd9c3;
    height: 60px;
    width: 155px;
    position: relative;
    bottom: 180px;
    margin: 0 auto;
    border-radius: 35px;
}

.hat {
    background-color: #f14a68;
    width: 150px;
    height: 150px;
    border-radius: 0 200px 0 0;
    margin: 0 auto;
    position: relative;
    bottom: 420px;
}

.bottom {
    position: absolute;
    top: 140px;
    width: 200px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: white;
}

.top {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: -35px;
    background-color: white;
    border-radius: 50px;
}

.eye1,
.eye2 {
    width: 30px;
    height: 15px;
    border-top: 8px solid #262626;
    border-radius: 30px 30px 0 0;
    position: relative;
    animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        border-top: 6px solid #262626;
    }
}

.eye1 {
    top: 20px;
    left: 32px;
}

.eye2 {
    bottom: 3px;
    left: 92px;
}

.nose {
    background-color: #fbd1b6;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
}

.mouth {
    background-color: #262626;
    height: 20px;
    width: 40px;
    border-radius: 0 0 50px 50px;
    position: relative;
    top: 3px;
    margin: 0 auto;
    opacity: 0.8;
    animation: speak 2s infinite;
}

@keyframes speak {
    50% {
        height: 15px;
    }
}

.jacket {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50% 0 50% 50%;
    background-color: #f14a68;
    transform: rotate(-45deg);
    position: relative;
    z-index: -1;
    bottom: 90px;
}

.belt {
    width: 300px;
    height: 25px;
    border-top: 25px solid #262626;
    border-radius: 80px 80px 0 0;
    top: 125px;
    transform: rotate(-135deg);
    position: absolute;
}

.belt::after {
    content: '';
    width: 39px;
    height: 35px;
    border: 10px solid goldenrod;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
    border-radius: 5px;
}

.belt::before {
    content: '';
    width: 5px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #d73552;
}

.shoes {
    position: relative;
    width: 85px;
    margin: 0 auto;
    bottom: 100px;
    height: 70px;
    z-index: -2;
}

.shoe-left,
.shoe-right {
    position: absolute;
    background-color: #262626;
    width: 35px;
    height: 50px;
    top: 0;
}

.shoe-left {
    left: 0;
}

.shoe-left::after {
    content: '';
    width: 90px;
    height: 31px;
    background-color: #262626;
    position: absolute;
    right: 0;
    bottom: -20px;
    border-radius: 50px 0 0 0;
}

.shoe-right {
    right: 0;
}

.shoe-right::after {
    content: '';
    width: 90px;
    height: 31px;
    background-color: #262626;
    position: absolute;
    left: 0;
    bottom: -20px;
    border-radius: 0 50px 0 0;
}

.hands {
    position: relative;
    bottom: 420px;
    width: 400px;
    margin: 0 auto;
    height: 65px;
}

.hands-left,
.hands-right {
    position: absolute;
    width: 100px;
    height: 60px;
    background-color: #f14a68;
}

.hands-left {
    left: 0;
    transform: rotate(65deg);
    transform-origin: right;
    animation: hands 5s infinite linear;
    border-radius: 10px 0 0 10px;
}

@keyframes hands {
    50% {
        transform: rotate(5deg);
    }
}

.hands-left::before {
    content: '';
    width: 20px;
    height: 60px;
    background-color: white;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 10px 0 0 10px;
}

.hands-right {
    right: 0;
    transform: rotate(-65deg);
    transform-origin: left;
    animation: hands 5s infinite linear;
    border-radius: 0 10px 10px 0;
}

.hands-right::before {
    content: '';
    width: 20px;
    height: 60px;
    background-color: white;
    position: absolute;
    right: 0;
    border-radius: 0 10px 10px 0;
}

.palm-left,
.palm-right {
    background-color: #262626;
    width: 70px;
    height: 55px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.palm-left {
    left: -62px;
}

.palm-left::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: #262626;
    border-radius: 100%;
    right: 10px;
    top: -8px;
    transform: rotate(-45deg);
}

.palm-right {
    right: -62px;
    z-index: -1;
}

.palm-right::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: #262626;
    border-radius: 100%;
    left: 10px;
    top: -8px;
    transform: rotate(45deg);
}