body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    background-image: url(./bg.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 100vh;
}

.canvas {
    height: 352px;
    width: 400px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(.6) rotate(180deg);
}

.spider-man {
    width: 195px;
    height: 810px;
    margin: 0 auto;
    position: relative;
    animation: nod 4s infinite;
    transform: rotate(5deg);
    transform-origin: bottom;
}

.spider-man::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #493928;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@keyframes nod {
    50% {
        transform: rotate(-5deg);
    }
}

.head {
    height: 150px;
    width: 150px;
    border-radius: 45%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #F04037;
    border: 2px solid #493928;
    background-image: url(./web.png);
    background-size: cover;
}

.eyes-1,
.eyes-2 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 0 100px 100px 100px;
    border: 5px solid #493928;
    position: absolute;
    top: 65px;
}

.eyes-1 {
    left: 15px;
    transform: rotate(-5deg);
}

.eyes-2 {
    right: 15px;
    transform: rotate(95deg);
}

.spider-body {
    width: 130px;
    height: 145px;
    border-radius: 40%;
    background-color: #F04037;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 130px;
    z-index: -1;
    border: 2px solid #493928;
    overflow: hidden;
    background-image: url(./web.png);
    background-size: cover;
    background-position: center 128px;
}

.spider-body::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 100%;
    left: 0px;
    top: 20px;
    bottom: 0;
    background-color: #19649C;
    border-radius: 0 88px 0 0;
}

.spider-body::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 100%;
    right: 0px;
    top: 20px;
    bottom: 0;
    background-color: #19649C;
    border-radius: 88px 0 0 0;
}

.hands {
    width: 190px;
    position: relative;
    height: 127px;
    margin: 0 auto;
    top: 10px;
}

.hand-1,
.hand-2 {
    width: 35px;
    height: 127px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    background-color: #F04037;
    border: 2px solid #493928;
    overflow: hidden;
}

.hand-1 {
    left: 0;
    transform: rotate(-30deg);
    transform-origin: top;
    background-image: url(./web.png);
    background-size: cover;
    background-position: left 150px;
}

.hand-1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    background-color: #19649C;
    border-radius: 0 0 50px 0;
}

.hand-2 {
    right: 0;
    transform: rotate(30deg);
    transform-origin: top;
    background-image: url(./web.png);
    background-size: cover;
    background-position: right 150px;
}

.hand-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    background-color: #19649C;
    border-radius: 0 0 0 50px;
}

.legs {
    width: 190px;
    position: relative;
    height: 127px;
    margin: 0 auto;
    top: -40px;
}

.leg-1,
.leg-2 {
    width: 35px;
    height: 127px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    background-color: #19649C;
    border: 2px solid #493928;
    overflow: hidden;
}

.leg-1 {
    left: 0;
    transform: rotate(-30deg);
    transform-origin: top;
    background-image: url(./web.png);
    background-size: cover;
    background-position: left 123px;
}

.leg-1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    right: 0px;
    bottom: 0px;
    background-color: #F04037;
    border-radius: 15px 0 15px 0;
}

.leg-2 {
    right: 0;
    transform: rotate(30deg);
    transform-origin: top;
    background-image: url(./web.png);
    background-size: cover;
    background-position: right 123px;
}

.leg-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    right: 0px;
    bottom: 0px;
    background-color: #F04037;
    border-radius: 0 15px 0 15px;
}

.spider {
    width: 10px;
    height: 15px;
    position: relative;
    top: 50px;
    margin: 0 auto;
}

.spider::after {
    content: '';
    width: 8px;
    height: 13px;
    background-color: #493928;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.spider-leg-1,
.spider-leg-2,
.spider-leg-3,
.spider-leg-4 {
    width: 18px;
    height: 1px;
    background-color: #493928;
    position: absolute;
    left: 50%;
    top: 50%;
}

.spider-leg-1 {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.spider-leg-2 {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.spider-leg-3 {
    transform: translateX(-50%) translateY(-50%) rotate(-15deg);
}

.spider-leg-4 {
    transform: translateX(-50%) translateY(-50%) rotate(15deg);
}